# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment variables
.env

# IDE / editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build / dist
dist/
build/
*.egg-info/

# Data and Binaries
*.xlsx
*.csv
*.sqlite3
